
<!-- Page content -->
<table class="Content" style="background-image: url(./Grafik/Wolfi.png);background-position:left top;">

<tr>
<td class="ContentLeft" valign="top">
	<!--img src="./Grafik/WolfgangStamp.png" alt="Wolfgang"-->
</td>

<td class="ContentRight">

	<h2>SO SIEHT'S AUS:</h2>
		<p> 
		<video width="100%" controls style="border:0px solid #404040;">
			<source src="./Videos/Video.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
		</p>

	<h2>IM AKTUELLEN PROGRAMM:</h2>

	<p>
	<span Style="font-size: 10px;">Einige Titel k&ouml;nnt Ihr auch runterladen</span>
	</p> 
	
	<br>
	<%%SETLIST%%>
	
	<p>
	... <br>
	Das Programm wird nat&uuml;rlich permanent erweitert.<br>
	</p>
	
</td>
</tr>
</table>




